/* Colors */
:root {
  --primary-color: #4784ff;
  --container-color: #dedcff;
  --rgb-color: background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
}

.text-color {
  color: #050315 !important;
}

.btn {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

body {
  background-color: #fbfbfe;
}

.nav__hover {
  transition: all .2s ease;
  border-bottom: 2.5px solid transparent;
}

.nav__hover:hover {
  border-bottom: 2.5px solid var(--primary-color);
}

.card {
  width: 100% !important;
  height: 100% !important;
}

.download-btn {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.experience-item, .education-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover, .education-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.text-primary-custom {
  color: #4784ff;
}

.gradient-bg {
  background: linear-gradient(89.8deg, rgb(102, 151, 241) 4.3%, rgb(79, 136, 222) 101.4%);
}

.gradient-text {
  background: linear-gradient(89.8deg, rgb(102, 151, 241) 4.3%, rgb(79, 136, 222) 101.4%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-card, .language-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.skill-card:hover, .language-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .download-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
  }
}


@media (max-width: 575px) {
  .experience-header {
      flex-direction: column;
      align-items: center !important;
  }
  .experience-header .buttons {
      margin-top: 1rem;
      align-self: center;
  }
}