/* Colors */
:root {
  --primary-color: #4784ff;
  --container-color: #dedcff;
  --rgb-color: background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
}

.text-color {
  color: #050315 !important;
}

.btn {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

body {
  background-color: #fbfbfe;
}

.nav__hover {
  transition: all .2s ease;
  border-bottom: 2.5px solid transparent;
}

.nav__hover:hover {
  border-bottom: 2.5px solid var(--primary-color);
}

.card {
  width: 100% !important;
  height: 100% !important;
}

.download-btn {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .download-btn {
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
  }
}

@media (max-width: 575px) {
  .experience-header {
      flex-direction: column;
      align-items: flex-start !important;
  }
  .experience-header .buttons {
      margin-top: 1rem;
      align-self: flex-start;
  }
}